@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

@font-face {
  font-family: "MoriaCitadel";
  src: url("/src/assets/Font-Family/MoriaCitadel.woff");
  src: url("/src/assets/Font-Family/MoriaCitadel.TTF") format("truetype");
}

body {
  background-image: url("/src/assets/Images/galaxy-montagne.jpg");
      background-size: cover;
    background-position: center;
}

@media only screen and (max-width: 600px) {
  body {
    width: 70em;
  }
}

body:before {
    content: '';
    display: block;
    height: 10px;
    margin-top: 1px;
    visibility: hidden;
    pointer-events: none;
    transition: visibility 0.3s ease-in-out;
  }

  body.scrolling:before {
    visibility: visible;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #7bddfc;
text-shadow: 0 0 6px rgba(0,0,0,0.75);
    font-weight: bold;
  }
  
  